<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <a href="/">THE DESIGN SHOP</a>
        <ul>
            <li><a href="/weekly">Weekly Recommendations</a></li>
            <li><a href="/lessThan">Less than 30$</a></li>
            <li><a href="/new">Add</a></li>
        </ul>

    </nav>